.contact-module {
	font-size: 18px;
	@media (min-width: $screen-sm) {
		font-size: 24px;
	}
	h3 {
		padding-bottom: 30px;
		@media (min-width: $screen-sm) {
			padding-bottom: 60px;
		}
	}
	.contact-field {
		display: table;
		margin-bottom: 20px;
		width: 100%;
		@media (min-width: $screen-sm) {
			margin-bottom: 60px;
		}
		>div {
			display: table-cell;
			vertical-align: top;
			&:first-child {
				padding-right: 10px;
				width: 20%;
			}
		}
	}
}

.contact-form {
	.nf-before-form-content {
		display: none;
	}
}